extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Joelle (Jojo) Walley 

        p Full Stack JavaScript Developer


        .about-bio

          p I have a decade's worth of experience in reviewing and editing work, more recently primarily with code reviewing. If your company is ever in need of an extra set of eyes, I'd be thrilled to review.

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Java 
          li Python
          li C languages 

        h6 Contact Info

        ul
          li 555-555-1234
          li jojowalley@berkeley.edu

        a.btn-link(href='https://github.com/Jojowalley101') GitHub
        
    nav.nav
      a(href='/')
        span &larr;
        |  Back