extends layout.pug

block content

  article.portfolio-intro

    h1 Welcome to Walley's World 

    p With learning comes the tasks of vulnerability and guidance, here is some of our work. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each p in projects
        
        .cell
          a(href=`/projects/${p.id}`)
            img.thumbnail(src=`/static/images/${p.image_urls[0]}`, alt=`${p.project_name} Thumbnail Image`)
            h5 #{p.project_name}

